<div class="account-pages my-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card mt-4">
                    <div class="card-header p-4 bg-primary">
                        <h4 class="text-white text-center mb-0 mt-0">Velonic</h4>
                    </div>

                    <div class="card-body">
                        @if (ViewBag.NotExist)
                        {
                            <div class="form-group row mb-0">
                                <div class="col-sm-12 text-center">
                                    <p class="text-muted mb-0">Account does not exist !</p>
                                </div>
                            </div>
                        }

                        @if (ViewBag.Failed)
                        {
                            <div class="form-group row mb-0">
                                <div class="col-sm-12 text-center">
                                    <p class="text-muted mb-0">Opps! Failed to reset your password !</p>
                                </div>
                            </div>
                        }

                        @if (!ViewBag.IsSent)
                        {
                            <form asp-controller="Access" asp-action="changePasswordAction" class="p-2">
                                <div class="form-group mb-3">
                                    <label asp-for="Email">Email Address :</label>
                                    <input asp-for="Email" class="form-control" placeholder="john@deo.com" required>
                                    <span class="text-danger"></span>
                                </div>

                                <div class="form-group row text-center mt-4 mb-4">
                                    <div class="col-12">
                                        <button class="btn btn-md btn-block btn-primary waves-effect waves-light" type="submit">Reset now</button>
                                    </div>
                                </div>

                                <div class="form-group row mb-0">
                                    <div class="col-sm-12 text-center">
                                        <p class="text-muted mb-0">
                                            Already have account?
                                            <a class="text-dark m-l-5"><b>Login</b></a>
                                        </p>
                                    </div>
                                </div>
                            </form>
                        }

                        @if (ViewBag.IsSent)
                        {
                            <div class="content text-center">
                                <p>Please check your email for the password reset link! <br /> <span class="text-danger">Also check your spam folder if not received in inbox.</span></p>
                            </div>
                        }
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>