<div class="col-4 form-group">
    <label>Country</label>
    <select class="form-control" id="country" data-toggle="select1" asp-items="@ViewBag.Country">
        <option value="-1" selected>--- Select Country ---</option>
    </select>
</div>