<div class="col-4 form-group">
    <label>State</label>
    <select class="form-control" id="state" data-toggle="select2" asp-items="@ViewBag.State">
        <option value="-1" selected>--- Select State ---</option>
    </select>
</div>