
<div class="content-page">
    <div class="content">

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Welcome !</h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb p-0 m-0">
                                <li class="breadcrumb-item"><a href="#">Velonic</a></li>
                                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                                <li class="breadcrumb-item active">Dashboard 1</li>
                            </ol>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-3 col-sm-6">
                    <div class="card bg-pink">
                        <div class="card-body widget-style-2">
                            <div class="text-white media">
                                <div class="media-body align-self-center">
                                    <h2 class="my-0 text-white"><span data-plugin="counterup">50</span></h2>
                                    <p class="mb-0">Daily Visits</p>
                                </div>
                                <i class="ion-md-eye"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6">
                    <div class="card bg-purple">
                        <div class="card-body widget-style-2">
                            <div class="text-white media">
                                <div class="media-body align-self-center">
                                    <h2 class="my-0 text-white"><span data-plugin="counterup">12056</span></h2>
                                    <p class="mb-0">Sales</p>
                                </div>
                                <i class="ion-md-paper-plane"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6">
                    <div class="card bg-info">
                        <div class="card-body widget-style-2">
                            <div class="text-white media">
                                <div class="media-body align-self-center">
                                    <h2 class="my-0 text-white"><span data-plugin="counterup">1268</span></h2>
                                    <p class="mb-0">New Orders</p>
                                </div>
                                <i class="ion-ios-pricetag"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6">
                    <div class="card bg-primary">
                        <div class="card-body widget-style-2">
                            <div class="text-white media">
                                <div class="media-body align-self-center">
                                    <h2 class="my-0 text-white"><span data-plugin="counterup">145</span></h2>
                                    <p class="mb-0">New Users</p>
                                </div>
                                <i class="mdi mdi-comment-multiple"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-4">
                    <div class="card">
                        <div class="card-header py-3 bg-transparent">
                            <div class="card-widgets">
                                <a href="javascript:;.html" data-toggle="reload"><i class="mdi mdi-refresh"></i></a>
                                <a data-toggle="collapse" href="#cardCollpase5" role="button" aria-expanded="false" aria-controls="cardCollpase5"><i class="mdi mdi-minus"></i></a>
                                <a href="#" data-toggle="remove"><i class="mdi mdi-close"></i></a>
                            </div>
                            <h5 class="header-title mb-0">  Team Members</h5>
                        </div>
                        <div id="cardCollpase5" class="collapse show">
                            <div class="card-body">
                                <ul class="list-group list-group-lg">
                                    <li class="list-group-item border-0 pt-2">
                                        <a href="vertical.html" class=" mr-3">
                                            <img src="~/images/users-avatar-3.jpg" alt="user-img" class="avatar-sm rounded">
                                        </a>
                                        <span class="float-right badge badge-primary mt-2">CEO</span>
                                        <a href="vertical.html">Jonathan Deo</a>
                                    </li>
                                    <li class="list-group-item border-0">
                                        <a href="vertical.html" class=" mr-3">
                                            <img src="~/images/users-avatar-4.jpg" alt="user-img" class="avatar-sm rounded">
                                        </a>
                                        <span class="float-right badge badge-info mt-2">Webdesigner</span>
                                        <a href="vertical.html">Doler Perte</a>
                                    </li>
                                    <li class="list-group-item border-0">
                                        <a href="vertical.html" class=" mr-3">
                                            <img src="~/images/users-avatar-5.jpg" alt="user-img" class="avatar-sm rounded">
                                        </a>
                                        <span class="float-right badge badge-primary mt-2">Webdeveloper</span>
                                        <a href="vertical.html">Jannie Dvis</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    2015 - 2020 &copy; Velonic theme by <a href="vertical.html">Coderthemes</a>
                </div>
            </div>
        </div>
    </footer>
</div>