@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Dashboard 1 | Velonic - Responsive Bootstrap 4 Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Responsive bootstrap 4 admin template" name="description">
    <meta content="Coderthemes" name="author">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="~/css/sweetalert2.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/datatables-dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/datatables-buttons.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/datatables-responsive.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/datatables-select.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap-stylesheet">
    <link href="~/css/icons.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/app.min.css" rel="stylesheet" type="text/css" id="app-stylesheet">
</head>
<body>
    <div id="wrapper">
        <div class="navbar-custom">
            <ul class="list-unstyled topnav-menu float-right mb-0">
                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle  waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <i class="mdi mdi-email-outline noti-icon"></i>
                        <span class="badge badge-purple rounded-circle noti-icon-badge">3</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-lg">
                        <div class="dropdown-item noti-title">
                            <h5 class="font-16 m-0">
                                <span class="float-right">
                                    <a href class="text-dark">
                                        <small>Clear All</small>
                                    </a>
                                </span>
                                Message
                            </h5>
                        </div>
                        <div class="slimscroll noti-scroll">

                            <div class="inbox-widget">
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="~/images/avatar-1.jpg" class="rounded-circle" alt></div>
                                        <p class="inbox-item-author">Cristina Pride</p>
                                        <p class="inbox-item-text text-truncate">Hi, How are you? What about our next meeting</p>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="~/images/avatar-2.jpg" class="rounded-circle" alt></div>
                                        <p class="inbox-item-author">Sam Garret</p>
                                        <p class="inbox-item-text text-truncate">Yeah everything is fine</p>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="~/images/avatar-3.jpg" class="rounded-circle" alt></div>
                                        <p class="inbox-item-author">Karen Robinson</p>
                                        <p class="inbox-item-text text-truncate">Wow that's great</p>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="~/images/avatar-4.jpg" class="rounded-circle" alt></div>
                                        <p class="inbox-item-author">Sherry Marshall</p>
                                        <p class="inbox-item-text text-truncate">Hi, How are you? What about our next meeting</p>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="~/images/avatar-5.jpg" class="rounded-circle" alt></div>
                                        <p class="inbox-item-author">Shawn Millard</p>
                                        <p class="inbox-item-text text-truncate">Yeah everything is fine</p>

                                    </div>
                                </a>
                            </div> <!-- end inbox-widget -->

                        </div>
                        <!-- All-->
                        <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
                            View all
                            <i class="fi-arrow-right"></i>
                        </a>

                    </div>
                </li>

                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle  waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <i class="mdi mdi-bell-outline noti-icon"></i>
                        <span class="badge badge-pink rounded-circle noti-icon-badge">4</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-lg">

                        <!-- item-->
                        <div class="dropdown-item noti-title">
                            <h5 class="font-16 m-0">
                                <span class="float-right">
                                    <a href class="text-dark">
                                        <small>Clear All</small>
                                    </a>
                                </span>Notification
                            </h5>
                        </div>

                        <div class="slimscroll noti-scroll">

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon">
                                    <i class="mdi mdi-comment-account-outline text-info"></i>
                                </div>
                                <p class="notify-details">
                                    Caleb Flakelar commented on Admin
                                    <small class="noti-time">1 min ago</small>
                                </p>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon text-success">
                                    <i class="mdi mdi-account-plus text-primary"></i>
                                </div>
                                <p class="notify-details">
                                    New user registered.
                                    <small class="noti-time">5 hours ago</small>
                                </p>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon text-danger">
                                    <i class="mdi mdi-heart text-danger"></i>
                                </div>
                                <p class="notify-details">
                                    Carlos Crouch liked
                                    <small class="noti-time">3 days ago</small>
                                </p>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon text-warning">
                                    <i class="mdi mdi-comment-account-outline text-primary"></i>
                                </div>
                                <p class="notify-details">
                                    Caleb Flakelar commented on Admi
                                    <small class="noti-time">4 days ago</small>
                                </p>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon text-purple">
                                    <i class="mdi mdi-account-plus text-danger"></i>
                                </div>
                                <p class="notify-details">
                                    New user registered.
                                    <small class="noti-time">7 days ago</small>
                                </p>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon text-danger">
                                    <i class="mdi mdi-heart text-danger"></i>
                                </div>
                                <p class="notify-details">
                                    Carlos Crouch liked <b>Admin</b>.
                                    <small class="noti-time">Carlos Crouch liked</small>
                                </p>
                            </a>
                        </div>

                        <!-- All-->
                        <a href="javascript:void(0);" class="dropdown-item text-center notify-item notify-all">
                            See all notifications
                        </a>

                    </div>
                </li>

                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <img src="~/images/avatar-1.jpg" alt="user-image" class="rounded-circle">
                        <span class="pro-user-name ml-1">
                            @Context.User.Identity.Name<i class="mdi mdi-chevron-down"></i>
                        </span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                        <a asp-controller="Access" asp-action="Logout" class="dropdown-item notify-item">
                            <i class="mdi mdi-logout-variant"></i><span>Logout</span>
                        </a>
                    </div>
                </li>
            </ul>

            <div class="logo-box">
                <a href="index.html" class="logo text-center logo-dark">
                    <span class="logo-lg">
                        <img src="~/images/logo-dark.png" alt height="18">
                    </span>
                    <span class="logo-sm">
                        <img src="~/images/logo-sm.png" alt height="22">
                    </span>
                </a>

                <a href="index.html" class="logo text-center logo-light">
                    <span class="logo-lg">
                        <img src="~/images/logo-light.png" alt height="18">
                    </span>
                    <span class="logo-sm">
                        <img src="~/images/logo-sm.png" alt height="22">
                    </span>
                </a>
            </div>

            <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
                <li>
                    <button class="button-menu-mobile waves-effect">
                        <i class="mdi mdi-menu"></i>
                    </button>
                </li>

                <li class="d-none d-lg-block">
                    <form class="app-search">
                        <div class="app-search-box">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search...">
                                <div class="input-group-append">
                                    <button class="btn" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
        </div>

        <div class="left-side-menu">

            <div class="slimscroll-menu">
                <div id="sidebar-menu">
                    <ul class="metismenu" id="side-menu">
                        <li class="menu-title">Navigation</li>
                        <li>
                            @if (HttpContextAccessor.HttpContext.Session.GetString("Role") == "agent")
                            {
                                <a asp-controller="Dashboard" asp-action="AgentDashboard" class="waves-effect">
                                    <i class="ion-md-speedometer"></i>
                                    <span>  Dashboard  </span>
                                </a>
                            }
                            else if (HttpContextAccessor.HttpContext.Session.GetString("Role") == "admin")
                            {
                                <a asp-controller="Dashboard" asp-action="AdminDashboard" class="waves-effect">
                                    <i class="ion-md-speedometer"></i>
                                    <span>  Dashboard  </span>
                                </a>
                            }
                        </li>

                        @if (HttpContextAccessor.HttpContext.Session.GetString("Role") != "admin")
                        {
                            <li>
                                <a asp-controller="Identity" asp-action="IdentityView" class="waves-effect">
                                    Profile
                                </a>
                            </li>
                        }

                        @if (HttpContextAccessor.HttpContext.Session.GetString("Role") == "admin")
                        {
                            <li><a asp-controller="Client" asp-action="MyClientt">My Clients</a></li>
                        }

                        @if (HttpContextAccessor.HttpContext.Session.GetString("Role") == "agent")
                        {
                            <li><a asp-controller="Client" asp-action="MyClient">My Clients</a></li>
                        }



                        @if (HttpContextAccessor.HttpContext.Session.GetString("Role") == "admin")
                        {
                            <li><a asp-controller="Client" asp-action="AllAgent">All Agents</a></li>
                        }

                        <li><a asp-controller="Client" asp-action="NewRegistration">New Registration<span class="badge badge-danger badge-pill float-right"> 8 </span></a></li>
                        <li><a asp-controller="Common" asp-action="InviteClient">Invite Client</a></li>

                        <li>
                            <a href="/Identity/IdentityProfile" class="waves-effect">Notifications</a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        @RenderBody();

    </div>
    <script src="~/js/vendor.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/jquery.scrollTo.min.js"></script>
    <script src="~/js/sweetalert2.min.js"></script>
    <script src="~/js/datatables-jquery.dataTables.min.js"></script>
    <script src="~/js/datatables-dataTables.bootstrap4.min.js"></script>
    <script src="~/js/pages-datatables.init.js"></script>
    <script src="~/js/datatables-dataTables.buttons.min.js"></script>
    <script src="~/js/datatables-buttons.bootstrap4.min.js"></script>
    <script src="~/js/jszip-jszip.min.js"></script>
    <script src="~/js/pdfmake-pdfmake.min.js"></script>
    <script src="~/js/pdfmake-vfs_fonts.js"></script>
    <script src="~/js/datatables-buttons.html5.min.js"></script>
    <script src="~/js/datatables-buttons.print.min.js"></script>
    <script src="~/js/jquery.chat.js"></script>
    <script src="~/js/jquery.todo.js"></script>
    <script src="~/js/morris.min.js"></script>
    <script src="~/js/raphael.min.js"></script>
    <script src="~/js/jquery.sparkline.min.js"></script>
    <script src="~/js/dashboard.init.js"></script>
    <script src="~/js/app.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#country').on('change', function () {
                $('#state option').remove();
                var CountryId = $('#country option:selected').val();
                if (CountryId != -1) {
                    $.ajax({
                        type: 'GET',
                        url: '/Common/GetState?CountryId=' + CountryId,
                        data: { CountryId: CountryId },
                        dataType: 'json',
                        success: function (result) {
                            var ddlist = $('#state');
                            $.each(result, function (val, text) {
                                ddlist.append(
                                    $('<option></option>').val(text.value).html(text.text))
                            });
                        }
                    });
                }
            });
            $('#state').on('change', function () {
                $('#city option').remove();
                var StateId = $('#state option:selected').val();
                if (StateId != -1) {
                    $.ajax({
                        type: 'GET',
                        url: '/Common/GetCity?StateId=' + StateId,
                        data: { StateId: StateId },
                        dataType: 'json',
                        success: function (result) {
                            var ddlist2 = $('#city');
                            $.each(result, function (val, text) {
                                ddlist2.append(
                                    $('<option></option>').val(text.value).html(text.text))
                            });
                        }
                    });
                }
            });
        });

        $(document).ready(function () {
            $('a.file').click(function () {
                var id = $("a.file").attr("name");
                var fId = event.srcElement.id;
                $.ajax({
                    type: 'GET',
                    url: '/Identity/ViewFile?id=' + fId,
                    data: {},
                    //dataType: 'json',
                    success: function (result) {
                        window.open('http://localhost:5000/ViewFile/' + result, 'viewdocument', 'directories=no,titlebar=no,toolbar=no,location=no,status=no,menubar=no,scrollbars=no,resizable=no,width=600,height=900');
                    }
                });
            });
        });
        /// Password Reset
        $(document).ready(function () {
            $(document).on('submit', '#onSubmit', function (e) {
                e.preventDefault();
                var pass = $("#Password").val();
                var cnfPass = $("#CnfPassword").val();
                if (pass.length < 6 || cnfPass.length < 6) {
                    return alert("Password / Confirm password length should not be less than 6")
                }
                if (pass != cnfPass) {
                    return alert("Password/Confirm Password mismatched")
                }
                $.ajax({
                    type: 'POST',
                    url: "/Access/ChangePassword?pass=" + pass,
                    data: {},
                    success: function (response) {
                        if (response == "success") {
                            alert("Password changed successfully !");
                            window.location = "http://localhost:5000";
                        }
                        if (response == "failed") {
                            alert(response);
                        }
                    }
                });
            });
        });
        // delete
        $(document).ready(function () {
            $('a.docId').click(function () {
                var id = $("a.docId").attr("name");
                var name = $("a.docId").attr("name");
                var fId = event.srcElement.id;
                alert(fId);
                $.ajax({
                    type: 'GET',
                    url: '/Common/DeleteFile?docId=' + fId,
                    data: {},
                    success: function (result) {
                        if (result) {
                            return location.reload();
                        }
                        else {
                            return alert("Failed to remove file");
                        }
                    }
                });
            });
        });
    </script>
    @RenderSection("scriptts", required: false);
</body>
</html>
